.navbar {
    background-color: transparent;
    width: 100%;
    height: 100px;
}



.navbar > img {
    margin-left: 60px;
    width: 180px;
    height: 100px;
}

body {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://assets.nflxext.com/ffe/siteui/vlv3/5ea364b1-8e59-4693-8ad8-f0eaee32d1bf/fdbda4bf-7038-4889-9e5e-01ef45114e55/KR-ko-20220530-popsignuptwoweeks-perspective_alpha_website_small.jpg');
}

.login-body {
    width: 450px;
    height: 630px;
    margin: auto;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.group {
    width: 300px;
    height: 100px;
    margin: auto;
}

.group2 {
    padding-top: 40px
}

.sign-in {
    width: 300px;
    height: 50px;
    border-radius: 8px;
    background-color: red;
    color: white;
    margin-top: 50px;
}

.sign-up {
    margin: auto;
    margin-bottom: 100px;
}

.footer {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    width: 100%;
    height: 150px;
    bottom: 0;
    left: 0;
    position: absolute;
}

.wrap {
    width: 400px;
    height: 150px;
    text-align: left;
    margin: auto;
    padding-top: 20px;
    color: gray;
}
