<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <h3 class="mt-2">Posts for tag - {{ tagname }}</h3>
    <hr>
    <div class="card">
        <div class="card-body">
            {% for article in object_list %}
                <h4>
                    <a href="/article/{{ article.id }}">{{ article.content }}</a>
                </h4>
                {{ article.updated_at|timesince }}
                <p> {{ article.author }}</p>
            {% endfor %}
        </div>
    </div>
</div>
</body>
</html>