{% extends 'base.html' %}


{% block content %}
    <div id="article">
        <div class="row row-cols-1 row-cols-md-4 g-4">
            {% for ac in article %}
            <div class="col">
                <div class="card h-100">
                    <a href="/article/{{ ac.id }}" style="text-decoration-line : none; color: black;">
                    <img src="{{ ac.poster }}" class="card-img-top" style="height: 450px">
                    </a>
                    <div class="card-body">
                        <a href="/article/{{ ac.id }}" style="text-decoration-line : none; color: black;">
                        <h5 class="card-title">{{ ac.title }}</h5>
                        </a>
                        <p class="card-text"></p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div id="upload">
        <form class="form-area" method="post" action="/article/">
            {% csrf_token %}
            <div class="form-group mt-2 mb-2">
                <label for="username">제목</label>
                <input type="text" class="form-control" id="title" name="title">
            </div>
            <div class="form-group mt-2 mb-2">
                <label for="username">이미지</label>
                <input type="text" class="form-control" id="poster" name="poster">
            </div>
            <div class="form-group mt-2 mb-2">
                <label for="password">줄거리</label>
                <input type="text" class="form-control" id="synopsis" name="synopsis">
            </div>
            <div class="form-group mt-2 mb-2">
                <label for="password">장르</label>
                <input type="text" class="form-control" id="genre" name="genre">
            </div>
            <div class="form-group mt-2 mb-2">
                <label for="password">태그</label>
                <input type="text" class="form-control" id="tags" name="tags">
            </div>
            <div class="form-group mt-2 mb-2">
                <label for="password">캐스팅 배우</label>
                <input type="text" class="form-control" id="cast" name="cast">
            </div>
            <div class="form-group mt-2 mb-2">
                <label for="password">출시일</label>
                <input type="date" class="form-control" id="aired_date" name="aired_date">
            </div>
            <div class="form-group mt-2 mb-2">
                <label for="password">에피소드 수</label>
                <input type="number" class="form-control" id="episode" name="episode">
            </div>
            <div class="form-group mt-2 mb-2">
                <label for="password">연령제한 (15 or 19)</label>
                <input type="number" class="form-control" id="aged" name="aged">
            </div>
            <div style="float: right">
                <button type="submit" class="btn btn-primary">게시물 생성</button>
            </div>
            <hr>
        </form>
    </div>

{% endblock %}